.image-annotation-editor {
    position: relative;
    min-height: 100px;
    padding-left: 30px;
}
.image-annotation-editor__tools-group:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 8px 0;
}
.image-annotation-editor__tools-group:first-child:before {
    display: none;
}
.image-annotation-editor__tools-group:empty:before {
    display: none;
}
.image-annotation-editor__tools-group-shape-editor {
    display: none;
}
.image-annotation-editor__tools-group-shape-editor_active {
    display: block;
}
.image-annotation-editor__font-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 23px;
    margin: 3px;
    border-radius: 100%;
    color: #999;
    cursor: pointer;
    user-select: none;
}
.image-annotation-editor__canvas-zoomer {
    overflow: auto;
    max-width: 100%;
}
.image-annotation-editor__canvas-container {
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 0;
}
.image-annotation-editor__image {
    width: 100%;
}
.image-annotation-editor__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
}
.image-annotation-editor__tools {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    white-space: normal;
}
.image-annotation-editor__shape {
    width: 26px;
    height: 26px;
    padding: 2px;
    margin-bottom: 3px;
    box-sizing: border-box;
}
.image-annotation-editor__shape svg {
    width: 100%;
    height: 100%;
}
.image-annotation-editor__shape_active {
    background: #fff4c9;
    border-radius: 3px;
}