.image-annotation-editor__canvas .ia-shape .ia-element-new-shape-overlay {
    fill-opacity: 0;
    stroke-opacity: 0;
}

.image-annotation-editor__canvas .ia-shape .ia-element-polygon-overlay-line {
    stroke-opacity: 0;
    stroke-width: 8px;
}

.image-annotation-editor__canvas .ia-shape .ia-element-point:hover {
    stroke-width: 4px;
}

.image-annotation-editor__canvas .ia-shape-polygon {
    stroke-width: 4px;
}

.image-annotation-editor__canvas .ia-shape-polygon .ia-active-point {
    stroke-width: 4px;
}

.image-annotation-editor__canvas .ia-shape-new-polygon .ia-element-point:hover {
    stroke-width: 0px;
}

.image-annotation-editor__canvas .ia-shape-new-polygon .ia-first-point:hover {
    stroke-width: 4px;
}
